.content-row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    padding: 40px;
    text-align: center;
}

h1 {
    color: #007BFF;
    font-size: 2.5em;
    margin-bottom: 20px;
}

h2 {
    color: #007BFF;
    font-size: 2em;
    margin-bottom: 15px;
}

p {
    font-size: 1.2em;
    margin-bottom: 15px;
}

.services {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;
}

.service {
    margin: 15px;
    text-align: center;
}

.service img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
}